h1 {
    color: #faf0ca;
    font-family: Impact, fantasy;
    text-decoration-line: underline;
    font-size: 300%;
    padding: 5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-align {
    display: flex;
    justify-content: left;
}

.right-align {
    display: flex;
    justify-content: right;
}

body {
    background-color: #5FAAE7;
}

p {
    font-family: Optima, sans-serif;
    color:aliceblue;
    font-size: x-large;
}

label {

    color:aliceblue;

}

input {
    background-color: #faf0ca;
    border-color: #1E352F;
    
}

.button {
    background-color: #faf0ca;
    border-color: #1E352F;
    border-width: 2px;
	text-align: center;
	display: inline-block;
    padding: 3px;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    
}

.button:hover {
    background-color: #B1D2CA;
    
}

.button:active {
  background-color: #B1D2CA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}

#flowerlogo {
    scale: 30%;
    position:absolute;
}

.darkMode h1 {
    color: #25413A;
    font-family: Impact, fantasy;
    text-decoration-line: underline;
    font-size: 300%;
    padding: 5px;
}

.darkMode{
    background-image: url('/Frontend/images/stars.jpg');
}

.darkMode input {
    background-color: #25413A;
    border-color: black;
}

.darkMode button {
    background-color: #25413A;
    border-color: black;
    border-width: 2px;
	text-align: center;
	display: inline-block;
    padding: 3px;
    color: black;
    text-decoration: none;
    border-radius: 30px;
}

#videoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.flower-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flower-img {
    width: 100px;
    position: relative;
    scale: 1;
    cursor: pointer;
    transition: filter 0.3s ease, transform 0.2 ease;
}

.flower-img:hover {
    transform: scale(1.1);
}

.flower-img.selected {
    filter: drop-shadow(0 0 15px #faf0ca);
}

.darkMode .flower-img.selected {
    filter: drop-shadow(0 0 15px #B1D2CA);
}

.darkMode #atmosphereDisplay {
    color: white;

}

.darkMode #recommendation {
    color: white;

}

.darkMode #videoContainer {
    color:white;

}


.video-wrapper {
    display: none;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.video-wrapper.open {
    display: block;
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
